.material-symbols-outlined {
  color: inherit;
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 1;
}
@mixin header-menu-item {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  color: rgb(207, 206, 206);
  transition: color 0.3s ease;
  &:hover {
    color: white;
  }
}

* {
  font-size: 14px;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP",
    Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica,
    "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.5);
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;

  &.menu li {
    margin-right: 20px;
  }
}

:host {
  width: 100%;
}

.container {
  position: relative;
  background: linear-gradient(to right, #cb11ab 0, #481173 100%) no-repeat;
}

.header {
  padding: 5px 16px 30px 16px;
  margin-left: 10vw;

  margin-right: 10vw;
}
.body {
  // position: absolute;
  padding-left: 10vw;
  padding-right: 10vw;
}

.container::after {
  content: "";
  display: block;
  width: 100%;
  height: 24px;
  border-radius: 24px 24px 0 0;
  background: #fff;
}

.location {
  @include header-menu-item;
}

.currency {
  @include header-menu-item;
}

.menu__item {
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 40px;
  padding: 1px 12px 3px;
  &.purple {
    background: #cb11ab linear-gradient(90deg, #bf5ae0 0, #a811da 100%);
  }
  &.orange {
    background-image: linear-gradient(
      90.4deg,
      #ff636d 0.17%,
      #f88245 57.13%,
      #f3a720 103.22%
    );
  }
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.menu_right {
  display: flex;
}

.menu_left {
  position: relative;
  display: flex;
  align-items: center;
  & .search_span {
    cursor: pointer;
    position: absolute;
    left: 290px;
    bottom: 16px;
    color: white;
    transition: color 0.3s ease;
    &:hover {
      color: rgb(207, 206, 206);
    }
  }
}

.menu_right {
  display: flex;
}

.menu_right__item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;

  & .menu_right__item-name {
    transition: color 0.3s ease;
    color: rgb(207, 206, 206);
  }
  &:hover {
    & .menu_right__item-name {
      color: white;
    }
  }
}

.nav_elem,
.burger span {
  color: white;
  font-size: 36px;
  font-weight: 500;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

.burger {
  cursor: pointer;
  border-radius: 8px;
  padding: 3px 2px 0 2px;
  margin-right: 20px;
  border: 1px rgb(207, 206, 206) solid;

  &:hover {
    border: 1px white solid;
  }
}

.search {
  cursor: pointer;
  margin-left: 30px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  width: 500px;
  //   height: 36px;
  border-radius: 56px;
  padding: 16px 120px 16px 44px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}

.items {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

app-item {
  // margin: 2px;
  width: calc(100% / 6);
  height: auto;
  position: relative;
}

.resume {
  position: relative;
  max-height: 80px;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), #fff);
  }
}

.resume_expanded {
  position: relative;
}

.resume_action {
  cursor: pointer;
  border-bottom: dashed 1px #cb11ab;
  width: max-content;
  color: #cb11ab;
  font-weight: 700;
}

.footer {
  padding: 0 10vw 40px 10vw;
  position: relative;
  min-height: 50px;
  width: 100%;
  background-color: #481173;
  &::before {
    content: "";
    display: block;
    top: -1px;
    left: 0;
    background-color: white;
    border-radius: 0 0 24px 24px;
    height: 24px;
    width: 100%;
    position: absolute;
  }
}

.footer__nav {
  display: flex;
}

.footer__container {
  flex-grow: 1;
  padding-top: 30px;
}
.footer__container__position {
  color: rgba(255, 255, 255, 0.7);
  margin: 5px 10px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.footer__container__title {
  margin: 5px 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: white;
}

.links {
  // padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 232px;

  & ul {
    width: 100%;
    justify-content: space-around;
  }
  & a {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
    &.apple {
      &::before {
        width: 19px;
        height: 23px;
        content: "";
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20height%3D%2223%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23B3B3B3%22%20d%3D%22M18.602%2017.579a12.268%2012.268%200%200%201-1.213%202.18c-.638.91-1.16%201.538-1.562%201.888-.624.574-1.292.867-2.008.884-.514%200-1.133-.146-1.855-.443-.723-.295-1.388-.441-1.996-.441-.638%200-1.322.146-2.053.441-.733.297-1.323.451-1.774.467-.687.03-1.37-.273-2.054-.908-.435-.38-.98-1.032-1.634-1.955-.7-.986-1.276-2.129-1.727-3.432C.242%2014.852%200%2013.49%200%2012.17c0-1.512.327-2.816.98-3.908a5.754%205.754%200%200%201%202.055-2.079A5.527%205.527%200%200%201%205.813%205.4c.545%200%201.26.168%202.148.5.886.332%201.455.5%201.704.5.186%200%20.818-.196%201.89-.59%201.012-.364%201.867-.515%202.568-.455%201.897.153%203.323.9%204.271%202.249-1.697%201.028-2.536%202.468-2.52%204.316.015%201.44.538%202.637%201.564%203.588.465.442.984.783%201.562%201.025-.125.363-.258.711-.398%201.046ZM14.249.45c0%201.128-.412%202.182-1.233%203.157-.992%201.159-2.19%201.828-3.491%201.723a3.514%203.514%200%200%201-.026-.428c0-1.083.471-2.242%201.308-3.19.418-.48.95-.878%201.595-1.196C13.045.203%2013.653.03%2014.226%200a4.1%204.1%200%200%201%20.023.451Z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M18.602%2017.579a12.268%2012.268%200%200%201-1.213%202.18c-.638.91-1.16%201.538-1.562%201.888-.624.574-1.292.867-2.008.884-.514%200-1.133-.146-1.855-.443-.723-.295-1.388-.441-1.996-.441-.638%200-1.322.146-2.053.441-.733.297-1.323.451-1.774.467-.687.03-1.37-.273-2.054-.908-.435-.38-.98-1.032-1.634-1.955-.7-.986-1.276-2.129-1.727-3.432C.242%2014.852%200%2013.49%200%2012.17c0-1.512.327-2.816.98-3.908a5.754%205.754%200%200%201%202.055-2.079A5.527%205.527%200%200%201%205.813%205.4c.545%200%201.26.168%202.148.5.886.332%201.455.5%201.704.5.186%200%20.818-.196%201.89-.59%201.012-.364%201.867-.515%202.568-.455%201.897.153%203.323.9%204.271%202.249-1.697%201.028-2.536%202.468-2.52%204.316.015%201.44.538%202.637%201.564%203.588.465.442.984.783%201.562%201.025-.125.363-.258.711-.398%201.046ZM14.249.45c0%201.128-.412%202.182-1.233%203.157-.992%201.159-2.19%201.828-3.491%201.723a3.514%203.514%200%200%201-.026-.428c0-1.083.471-2.242%201.308-3.19.418-.48.95-.878%201.595-1.196C13.045.203%2013.653.03%2014.226%200a4.1%204.1%200%200%201%20.023.451Z%22%2F%3E%3C%2Fsvg%3E);
      }
    }
    &.google_play {
      &::before {
        width: 20px;
        height: 22px;
        content: "";
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2222%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23EA4335%22%20d%3D%22M9.311%2010.508.083%2020.177a2.503%202.503%200%200%200%203.665%201.485l10.384-5.914-4.82-5.24Z%22%2F%3E%3Cpath%20fill%3D%22%23FBBC04%22%20d%3D%22m18.643%208.864-4.49-2.572-5.055%204.436%205.075%205.006%204.456-2.544a2.441%202.441%200%200%200%200-4.326h.014Z%22%2F%3E%3Cpath%20fill%3D%22%234285F4%22%20d%3D%22M.083%201.83A2.38%202.38%200%200%200%200%202.461v17.082c0%20.213.028.426.083.633l9.545-9.422L.083%201.83Z%22%2F%3E%3Cpath%20fill%3D%22%2334A853%22%20d%3D%22m9.38%2011.003%204.773-4.71L3.783.35A2.558%202.558%200%200%200%202.495%200%202.503%202.503%200%200%200%20.083%201.822l9.297%209.18Z%22%2F%3E%3C%2Fsvg%3E);
      }
    }
    &.huawei {
      background-color: #c8102e;
      &:hover {
        background-color: rgba(200, 16, 46, 0.4);
      }

      &::before {
        width: 30px;
        height: 19px;
        content: "";
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M3.923%2014.004h1.06v5.23h-1.06V17.11H1.527v2.124H.465v-5.23h1.062v2.11h2.396v-2.11ZM9.9%2017c0%20.85-.422%201.304-1.188%201.304-.772%200-1.196-.469-1.196-1.341v-2.955H6.454v2.99c0%201.47.818%202.314%202.243%202.314%201.44%200%202.263-.86%202.263-2.359v-2.95H9.9v2.997Zm12.262.601-1.188-3.596h-.865L18.92%2017.6l-1.156-3.593h-1.13l1.825%205.227h.877l1.19-3.433%201.189%203.433h.884l1.82-5.227h-1.1L22.162%2017.6Zm4.16-.616h1.93v-.951h-1.93v-1.07h2.803v-.954h-3.848v5.223h3.949v-.954h-2.904v-1.294Zm4.168%202.243h1.048v-5.223H30.49v5.223Zm-17.433-1.085-.476%201.09h-1.084l2.305-5.228h.936l2.295%205.228H15.92l-.47-1.09h-2.394Zm.394-.941h1.605l-.803-1.87-.802%201.87ZM15.999%207.347A6.665%206.665%200%200%201%209.342.687h.941a5.725%205.725%200%200%200%205.719%205.718A5.725%205.725%200%200%200%2021.72.687h.941C22.656%204.36%2019.67%207.347%2016%207.347Z%22%2F%3E%3C%2Fsvg%3E);
      }
    }
    &.rustore {
      &::before {
        width: 28px;
        height: 29px;
        content: "";
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2229%22%20viewBox%3D%220%200%2028%2029%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M4.08788%2028.594H3.14672L1.65336%2026.5387H0.867743V28.594H0.0666504V23.1873H1.99561C2.36895%2023.1873%202.70335%2023.2588%202.99896%2023.402C3.29449%2023.5451%203.52263%2023.7445%203.68338%2024.0002C3.84933%2024.2507%203.93227%2024.5395%203.93227%2024.8667C3.93227%2025.2758%203.80526%2025.626%203.55116%2025.9175C3.29713%2026.2038%202.95745%2026.393%202.53226%2026.485L4.08788%2028.594ZM0.867743%2023.9158V25.8177H1.99561C2.32744%2025.8177%202.59452%2025.7308%202.7967%2025.557C3.00409%2025.378%203.10786%2025.148%203.10786%2024.8667C3.10786%2024.5856%203.00409%2024.358%202.7967%2024.1842C2.59452%2024.0053%202.32744%2023.9158%201.99561%2023.9158H0.867743Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M6.21366%2028.6707C5.92847%2028.6707%205.6718%2028.6016%205.44366%2028.4636C5.21552%2028.3205%205.03659%2028.1261%204.90701%2027.8808C4.77735%2027.6303%204.71252%2027.349%204.71252%2027.0371V24.629H5.47475V26.9758C5.47475%2027.2775%205.56033%2027.5229%205.73142%2027.712C5.90258%2027.9012%206.12294%2027.9958%206.39259%2027.9958C6.67258%2027.9958%206.90593%2027.8987%207.09256%2027.7044C7.27927%2027.5101%207.37262%2027.2673%207.37262%2026.9758V24.629H8.13485V28.594H7.59035L7.41149%2027.9958C7.28183%2028.2106%207.11074%2028.3767%206.89815%2028.4943C6.69069%2028.6119%206.46255%2028.6707%206.21366%2028.6707Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M10.9764%2028.6706C10.4734%2028.6706%2010.0353%2028.5428%209.66192%2028.2871C9.29372%2028.0264%209.04226%2027.6736%208.90747%2027.2288L9.67747%2027.106C9.8278%2027.3924%2010.0067%2027.6046%2010.2141%2027.7426C10.4216%2027.8755%2010.6756%2027.942%2010.9764%2027.942C11.2823%2027.942%2011.5312%2027.8755%2011.723%2027.7426C11.9149%2027.6046%2012.0109%2027.4179%2012.0109%2027.1827C12.0109%2027.0089%2011.9564%2026.8632%2011.8475%2026.7456C11.7438%2026.6281%2011.6116%2026.5335%2011.4508%2026.4619C11.2901%2026.3903%2011.0801%2026.311%2010.8208%2026.2241C10.4734%2026.1116%2010.1882%2025.9991%209.96523%2025.8867C9.7423%2025.7742%209.55303%2025.6157%209.39749%2025.4112C9.24708%2025.2016%209.17191%2024.9357%209.17191%2024.6136C9.17191%2024.312%209.24708%2024.0486%209.39749%2023.8237C9.55303%2023.5936%209.76562%2023.4172%2010.0353%2023.2945C10.3049%2023.1718%2010.6057%2023.1105%2010.9375%2023.1105C11.399%2023.1105%2011.7956%2023.2306%2012.1275%2023.4709C12.4594%2023.7061%2012.6953%2024.0307%2012.8353%2024.4449L12.0808%2024.5676C11.9771%2024.3324%2011.8294%2024.1535%2011.6375%2024.0307C11.4457%2023.9029%2011.2201%2023.839%2010.9608%2023.839C10.6808%2023.839%2010.45%2023.9055%2010.2686%2024.0384C10.0871%2024.1663%209.99632%2024.3426%209.99632%2024.5676C9.99632%2024.7363%2010.0482%2024.8795%2010.1519%2024.997C10.2608%2025.1147%2010.3931%2025.2093%2010.5486%2025.2808C10.7093%2025.3524%2010.9219%2025.4342%2011.1864%2025.5262C11.5234%2025.6387%2011.8034%2025.7538%2012.0264%2025.8713C12.2546%2025.9838%2012.4464%2026.1449%2012.602%2026.3545C12.7575%2026.5641%2012.8353%2026.8274%2012.8353%2027.1444C12.8353%2027.4512%2012.7523%2027.7196%2012.5864%2027.9497C12.4256%2028.1798%2012.2027%2028.3587%2011.9175%2028.4865C11.6375%2028.6092%2011.3238%2028.6706%2010.9764%2028.6706Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M16.055%2027.9344L15.985%2028.5939H15.2772C14.8573%2028.5939%2014.5383%2028.4916%2014.3205%2028.2872C14.1028%2028.0827%2013.9939%2027.7887%2013.9939%2027.4052V25.2962H13.3016V24.6289H13.9939L14.2039%2023.4786H14.7561V24.6289H15.985V25.2962H14.7561V27.4052C14.7561%2027.758%2014.9299%2027.9344%2015.2772%2027.9344H16.055Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M18.5969%2028.6707C18.1873%2028.6707%2017.8217%2028.5837%2017.5002%2028.4099C17.1787%2028.236%2016.9273%2027.9932%2016.7458%2027.6814C16.5643%2027.3695%2016.4736%2027.0142%2016.4736%2026.6153C16.4736%2026.2165%2016.5643%2025.8612%2016.7458%2025.5493C16.9273%2025.2374%2017.1787%2024.9946%2017.5002%2024.8208C17.8217%2024.6418%2018.1873%2024.5524%2018.5969%2024.5524C19.0066%2024.5524%2019.3721%2024.6418%2019.6936%2024.8208C20.0151%2024.9946%2020.2666%2025.2374%2020.4481%2025.5493C20.6296%2025.8612%2020.7203%2026.2165%2020.7203%2026.6153C20.7203%2027.0142%2020.6296%2027.3695%2020.4481%2027.6814C20.2666%2027.9932%2020.0151%2028.236%2019.6936%2028.4099C19.3721%2028.5837%2019.0066%2028.6707%2018.5969%2028.6707ZM18.5969%2027.9804C18.991%2027.9804%2019.31%2027.8552%2019.5536%2027.6046C19.8025%2027.3541%2019.927%2027.0244%2019.927%2026.6153C19.927%2026.2063%2019.8025%2025.8765%2019.5536%2025.626C19.31%2025.3704%2018.991%2025.2426%2018.5969%2025.2426C18.2028%2025.2426%2017.884%2025.3704%2017.6402%2025.626C17.3965%2025.8765%2017.2747%2026.2063%2017.2747%2026.6153C17.2747%2027.0192%2017.3965%2027.349%2017.6402%2027.6046C17.884%2027.8552%2018.2028%2027.9804%2018.5969%2027.9804Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M21.5378%2028.594V24.629H22.09L22.2534%2025.1966C22.3726%2024.9972%2022.5204%2024.854%2022.6967%2024.7671C22.873%2024.6751%2023.083%2024.629%2023.3267%2024.629H23.5134L23.5756%2025.35H23.14C22.8601%2025.35%2022.65%2025.4292%2022.51%2025.5877C22.37%2025.7462%2022.3%2025.9609%2022.3%2026.2319V28.594H21.5378Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M27.9333%2026.5847C27.9333%2026.6869%2027.9308%2026.7662%2027.9255%2026.8224H24.6044C24.6459%2027.1752%2024.7859%2027.4564%2025.0243%2027.666C25.2629%2027.8756%2025.5662%2027.9804%2025.9344%2027.9804C26.1885%2027.9804%2026.414%2027.9319%2026.611%2027.8347C26.8133%2027.7325%2026.9663%2027.5995%2027.07%2027.4359L27.7856%2027.551C27.63%2027.9088%2027.3785%2028.1849%2027.0311%2028.3793C26.6889%2028.5735%2026.3077%2028.6707%2025.8877%2028.6707C25.4885%2028.6707%2025.1307%2028.5837%2024.8144%2028.4099C24.498%2028.231%2024.2518%2027.9855%2024.0755%2027.6737C23.8992%2027.3618%2023.811%2027.009%2023.811%2026.6153C23.811%2026.2165%2023.8992%2025.8612%2024.0755%2025.5493C24.2518%2025.2374%2024.4955%2024.9946%2024.8066%2024.8208C25.1177%2024.6418%2025.4729%2024.5524%2025.8721%2024.5524C26.2662%2024.5524%2026.6188%2024.6418%2026.93%2024.8208C27.2463%2024.9946%2027.4926%2025.2374%2027.6689%2025.5493C27.8452%2025.8561%2027.9333%2026.2012%2027.9333%2026.5847ZM25.8721%2025.2196C25.5662%2025.2196%2025.3018%2025.309%2025.0788%2025.488C24.861%2025.6669%2024.7158%2025.9072%2024.6432%2026.2089H27.1011C27.0337%2025.9123%2026.8885%2025.6746%2026.6655%2025.4957C26.4477%2025.3116%2026.1833%2025.2196%2025.8721%2025.2196Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M6.43722%2016.2005C7.67435%2017.4204%209.66557%2017.4204%2013.648%2017.4204H14.352C18.3345%2017.4204%2020.3257%2017.4204%2021.5628%2016.2005C22.8%2014.9806%2022.8%2013.0172%2022.8%209.09054V8.39636C22.8%204.46966%2022.8%202.5063%2021.5628%201.28648C20.3257%200.0666501%2018.3345%200.0666504%2014.352%200.0666504H13.648C9.66557%200.0666504%207.67435%200.0666501%206.43722%201.28648C5.20001%202.5063%205.20001%204.46966%205.20001%208.39636V9.09054C5.20001%2013.0172%205.20001%2014.9806%206.43722%2016.2005Z%22%20fill%3D%22%230077FF%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18.7885%2011.6009L17.5993%2011.308C17.4561%2011.2675%2017.3549%2011.1404%2017.3499%2010.9928L17.2015%206.67716C17.1586%206.10597%2016.7285%205.65167%2016.2791%205.51791C16.2539%205.51035%2016.2269%205.52047%2016.212%205.54189C16.1969%205.56367%2016.2027%205.59373%2016.2239%205.60994C16.3349%205.69464%2016.6403%205.97103%2016.6403%206.44777L16.6394%2012.0903C16.6394%2012.6352%2016.1172%2013.0348%2015.5787%2012.9021L14.3711%2012.6047C14.2372%2012.5585%2014.1442%2012.4356%2014.1393%2012.2938L13.9909%207.9778C13.948%207.40661%2013.518%206.95231%2013.0686%206.81855C13.0434%206.81099%2013.0164%206.82111%2013.0014%206.84253C12.9863%206.86431%2012.9921%206.89437%2013.0133%206.91058C13.1243%206.99528%2013.4297%207.27167%2013.4297%207.74841L13.4288%2012.4518L13.4295%2013.3916C13.4295%2013.9364%2012.9074%2014.336%2012.3687%2014.2034L8.95791%2013.3632C8.48374%2013.2464%208.15125%2012.8281%208.15125%2012.3485V6.69711C8.15125%206.15224%208.67338%205.75265%209.21201%205.88531L11.3612%206.4147V5.39596C11.3612%204.85109%2011.8833%204.45149%2012.4219%204.58415L14.571%205.11347V4.09473C14.571%203.54986%2015.0931%203.15027%2015.6318%203.28293L19.0426%204.12304C19.5167%204.23986%2019.8492%204.65807%2019.8492%205.13775V10.7891C19.8492%2011.334%2019.327%2011.7336%2018.7885%2011.6009Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A);
      }
    }
  }
}

.links__border {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 15px 10px;
}

.footer__add_info {
  margin-top: 20px;
  color: white;
  & a {
    color: white;
    text-decoration: underline;
  }
}

.scrollTop {
  z-index: 99;
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #cb11ab;
  text-align: center;
  cursor: pointer;
  & .scrollTop__icon {
    line-height: 48px;
    color: white;
  }
  &:hover {
    background-color: #f015cc;
  }
}
