<div class="container">
  <div class="header">
    <ul class="menu">
      <li class="currency">
        <p>
          <img
            width="20"
            height="20"
            src="https://img.icons8.com/fluency/48/russian-federation-circular.png"
            alt="russian-federation-circular"
          />
        </p>
        <p>RUB</p>
      </li>
      <li class="location">
        <p>
          <span class="material-symbols-outlined" style="font-size: 18px">
            location_on
          </span>
        </p>
        <p>Москва</p>
      </li>
      <li class="menu__item purple">Продавайте на Wildberries</li>
      <li class="menu__item orange">Работа в Wildberries</li>
    </ul>

    <div class="header_bottom">
      <div class="menu_left">
        <div class="burger">
          <span class="material-symbols-outlined"> menu </span>
        </div>
        <div class="nav_elem">PIVBERRIES</div>
        <span class="material-symbols-outlined search_span"> search </span>
        <input type="search" class="search" placeholder="Я ищу..." />
      </div>
      <div class="menu_right">
        <div class="adresses_button menu_right__item">
          <p><span class="material-symbols-outlined"> location_on </span></p>
          <p class="menu_right__item-name">Адреса</p>
        </div>
        <div class="login_button menu_right__item">
          <p><span class="material-symbols-outlined"> person </span></p>
          <p class="menu_right__item-name">Войти</p>
        </div>
        <div class="cart_button menu_right__item">
          <p><span class="material-symbols-outlined"> shopping_cart </span></p>
          <p class="menu_right__item-name">Корзина</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <app-slider></app-slider>
  <div class="items">
    <app-item *ngFor="let product of products" [product]="product"></app-item>
  </div>
  <div [ngClass]="{ resume: !resumeExpanded, resume_expanded: resumeExpanded }">
    Широкий ассортимент и высокое качество Интернет-магазин Wildberries – это
    доступные цены, широкий, регулярно обновляемый ассортимент. В
    онлайн-каталоге Wildberries представлено около 300 000 ведущих брендов
    одежды, электроники, мебели и других товаров для всех сфер жизни.
    Покупателям предлагается электроника, книжная продукция, детские товары. В
    интернет-магазине можно приобрести продукцию для дома, продукты питания,
    товары для красоты, ювелирные изделия, игрушки. Для удобства пользования
    онлайн-каталог поделен на разделы, все товары можно сортировать по ряду
    критериев: цена, материал изготовления, сезонность, бренд. Выгодный шопинг
    Интернет-магазин Wildberries регулярно проводит масштабные распродажи. В
    рамках таких акций предоставляются большие скидки (до 95%) на одежду, обувь,
    детские товары. Условия распродаж распространяются и на электронику,
    продукты питания, товары для дома, книги и многое другое. Чтобы быть в курсе
    предстоящих скидок или появления в ассортименте новых моделей от любимых
    брендов, достаточно подписаться на email-рассылку. Интернет-магазин одежды
    своевременно информирует получателей рассылки о распродажах, обновлении
    ассортимента. Дополнительные выгодные условия действуют для постоянных
    покупателей Wildberries – персональная скидка, зависящая от процента выкупа
    вещей. В Wildberries всегда ответственно подходят к выбору поставщиков, со
    многими производителями мы работаем напрямую, поэтому все категории товаров
    отличаются высоким качеством, разнообразием моделей и цветов, доступными
    ценами. Доставка и оплата без проблем Онлайн-магазин Wildberries
    осуществляет бесплатную доставку по всей России с помощью собственной
    курьерской службы. Покупатель может также забрать заказ из пункта выдачи
    заказов. Любую одежду, обувь и другие товары можно примерить перед оплатой
    заказа курьеру или в пункте выдачи заказа, оборудованном удобными
    примерочными. Wildberries предлагает несколько различных вариантов оплаты
    заказа как при оформлении, так и по факту при получении, - банковской картой
    или переводом, наличным расчетом или электронным платежом. Если товар не
    подошел, его можно вернуть с курьером как до оплаты заказа, так и после по
    почте или в одном из 26 000 пунктов выдачи заказа в течение 14 дней. Покупки
    всегда и везде Купить одежду, обувь, аксессуары, детские товары и товары для
    дома в Wildberries можно быстро и просто. Удобный вариант - покупки через
    специальное мобильное приложение. Его можно скачать и установить на любой
    смартфон. В мобильном приложении можно заказать и другие доступные товары -
    электронику, продукты питания, книги. Задать интересующий вопрос можно в
    любое время – наш call-центр работает 24/7. Начни прямо сейчас! Чтобы начать
    шопинг с Wildberries – необходимо пройти простую регистрацию на сайте,
    которая займет всего несколько минут. Оцените преимущества покупок одежды,
    обуви, электроники, детских товаров и продукции для дома, продуктов питания
    и книг в Wildberries уже сейчас.
  </div>
  <div class="resume_action" *ngIf="!resumeExpanded" (click)="expandResume()">
    Читать полностью
  </div>
  <div class="resume_action" *ngIf="resumeExpanded" (click)="collapseResume()">
    Скрыть
  </div>
</div>
<div class="footer">
  <div class="footer__nav">
    <div class="footer__container">
      <p class="footer__container__title">Покупателям</p>
      <p class="footer__container__position">Как сделать заказ</p>
      <p class="footer__container__position">Способы оплаты</p>
      <p class="footer__container__position">Доставка</p>
      <p class="footer__container__position">Возврат товара</p>
      <p class="footer__container__position">Возврат денежных средств</p>
      <p class="footer__container__position">Правила продажи</p>
      <p class="footer__container__position">
        Правила пользования торговой площадкой
      </p>
      <p class="footer__container__position">Вопросы и ответы</p>
      <p class="footer__container__position">Проверка совместимости</p>
    </div>

    <div>
      <div class="footer__container">
        <p class="footer__container__title">Партнерам</p>
        <p class="footer__container__position">Продавайте на Wildberries</p>
        <p class="footer__container__position">Курьерам</p>
        <p class="footer__container__position">Перевозчикам</p>
        <p class="footer__container__position">Партнерский пункт выдачи</p>
        <p class="footer__container__position">Франшизный пункт выдачи</p>
      </div>
      <div class="footer__container">
        <p class="footer__container__title">Наши проекты</p>
        <p class="footer__container__position">WB Guru</p>
        <p class="footer__container__position">Трудоустройство</p>
        <p class="footer__container__position">Цифровые товары</p>
        <p class="footer__container__position">WB Путешествия</p>
        <p class="footer__container__position">WB Stream</p>
      </div>
    </div>

    <div class="footer__container">
      <p class="footer__container__title">Компания</p>
      <p class="footer__container__position">О нас</p>
      <p class="footer__container__position">Реквизиты</p>
      <p class="footer__container__position">Пресс-центр</p>
      <p class="footer__container__position">Контакты</p>
      <p class="footer__container__position">Bug Bounty</p>
      <p class="footer__container__position">WB.Tech</p>
    </div>
    <div class="footer__container">
      <p class="footer__container__title">Мы в соцсетях</p>
      <p class="footer__container__position">ВКонтакте</p>
      <p class="footer__container__position">Одноклассники</p>
      <p class="footer__container__position">YouTube</p>
      <p class="footer__container__position">Телеграм</p>
    </div>
    <div class="footer__container links">
      <p class="footer__container__title">Приложение Pivberries</p>
      <div class="links__border">
        <img
          src="https://static-basket-01.wb.ru/vol0/i/v3/apps/qr.png"
          style="border-radius: 12px"
          width="136px"
          height="136px"
          alt=""
        />
        <p
          style="
            margin: 8px 0 16px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
          "
        >
          Наведите камеру, чтобы скачать приложение
        </p>
        <ul>
          <li><a href="https://k-portal.ru" class="apple"></a></li>
          <li><a href="https://k-portal.ru" class="google_play"></a></li>
          <li><a href="https://k-portal.ru" class="huawei"></a></li>
          <li><a href="https://k-portal.ru" class="rustore"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__add_info">
    <span
      >2004-2023 © Wildberries — модный интернет-магазин одежды, обуви и
      аксессуаров. Все права защищены. Доставка по всей России.</span
    >

    <span
      >На Торговой площадке wildberries.ru
      <a href="">применяются рекомендательные технологии.</a> Адрес для
      направления юридически значимых сообщений: sales@wildberries.ru</span
    >
  </div>
</div>

<div *scrollUp class="scrollTop">
  <span class="material-symbols-outlined scrollTop__icon"> north </span>
</div>
