<div class="container">
  <div class="header">
    <ul class="menu">
      <li class="currency">
        <p>
          <img
            width="20"
            height="20"
            src="https://img.icons8.com/fluency/48/russian-federation-circular.png"
            alt="russian-federation-circular"
          />
        </p>
        <p>RUB</p>
      </li>
      <li class="location">
        <p>
          <span class="material-symbols-outlined" style="font-size: 18px">
            location_on
          </span>
        </p>
        <p>Москва</p>
      </li>
      <li class="menu__item purple">Продавайте на Wildberries</li>
      <li class="menu__item orange">Работа в Wildberries</li>
    </ul>

    <div class="header_bottom">
      <div class="menu_left">
        <div class="burger">
          <span class="material-symbols-outlined"> menu </span>
        </div>
        <div class="nav_elem">PIVBERRIES</div>
        <span class="material-symbols-outlined search_span"> search </span>
        <input type="search" class="search" placeholder="Я ищу..." />
      </div>
      <div class="menu_right">
        <div class="adresses_button menu_right__item">
          <p><span class="material-symbols-outlined"> location_on </span></p>
          <p class="menu_right__item-name">Адреса</p>
        </div>
        <div class="login_button menu_right__item">
          <p><span class="material-symbols-outlined"> person </span></p>
          <p class="menu_right__item-name">Войти</p>
        </div>
        <div class="cart_button menu_right__item">
          <p><span class="material-symbols-outlined"> shopping_cart </span></p>
          <p class="menu_right__item-name">Корзина</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-slider></app-slider>
